header{
    text-align: center;
    background-color: rgb(3, 3, 169);
    color: greenyellow;
    text-decoration: solid;
    font-size: 150%;
}
div.nav_bar{
    background-color: rgb(20, 20, 118);
    margin-left: 0;
}
.nav_bar button{
    background-color: rgb(20, 20, 118);
    color: white;
    border: 0;
}
.nav_bar button:hover{
    color: rgb(0, 255, 38);
}
body h3,p, div{
    margin-left: 10%;
}
body{
    margin:0;
}
footer{
    text-align: center;
    background-color: darkblue;
    color: white;
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
}